* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 753px;
  background: url("../src/assets/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
